<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TeamsConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\TeamsDB.accdb" providerName="System.Data.OleDb" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<!-- No codeSubDirectories section here -->
		</compilation>
		<httpRuntime targetFramework="4.0" />
		<customErrors mode="Off" />
		<authentication mode="Forms">
			<forms loginUrl="~/SignIn.aspx" timeout="2880" />
		</authentication>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v4.0" />
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v4.0" />
			</compiler>
		</compilers>
	</system.codedom>

	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>